# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
# .idea/
# .vscode/

# Vendor
vendor

bin
.DS_Store
Why.md
out.yaml

# For graphviz
node_modules
dist
*.gv

# You do you, Claude is used but generally struggles in this repo as most of it's training
# is biased to implement a programming language parser / pass / compiler best practices
# rather than what we are trying to achieve with COG here, so as unfortunate as it is
# it currently doesn't get much use in this repo until we dogfood COG in Claude and get
# some consistency in patterns
.claude